body {
	margin: auto;
	border: solid 1px;
}

@font-face {
    font-family: "font_h1";
    src: url(../font/PlayfairDisplay-Regular.otf);
}

@font-face {
    font-family: "font_h2";
    src: url(../font/goldoni.otf);
}

header, nav, section, footer {
	margin: 0px;
}

header {
	background-color: #1B4F72;
	opacity: 0.9;
	color: white;
	position: fixed;
	width: 100%;

}

.cotizaciones {
	padding-top: 190px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 85%;
    margin: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

header img {
	padding-top: 10px;
	width: 72px;
	height: auto;
	float: left;
}

header h1, header h2 {
	margin: 0px;
	padding: 0px;
}

header h1 {
	font-family: "font_h1";
	font-size: 40px;
	padding-top: 10px;
}

header h2 {
	font-family: "font_h2";
	font-size: 15px;
}

section img {
	margin: 0px;
	padding: 0px;
	min-width: 100%;
	max-height: auto;
}

nav {
	font-size: 15px;
	clear: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
}

nav ul li {
	float: left;
}

nav li a  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: red;
}

nav li ul {
	position:absolute;
	display:none;
	background-color: #222222;
}

nav li ul li {
	position:relative;
}		

nav li:hover > ul {
	display:block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav ul li ul li {
	clear: left;
	width: 100%;
}

nav ul li ul li a{
	text-align: left;
}

section {
	min-height: 800px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
